html {
    font-size: 12px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F5F5F5;
    color: #1E1E24;
}

#container {
    width: 90%;
    margin: auto;
    background-color: #F5F5F5;
    padding: 20px;
}

body a {
    color: #E54B4B;
}

body a:hover {
    color: #235789;
}

h1,
h2,
h3 {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

header {
    text-align: center;
}

header>* {
    margin: 0px;
    padding: 0px;
}

header h1 {
    margin: 10px 0px 0px 0px;
    font-size: 2.9rem;
    color: #E54B4B;

}

header h2 {
    font-size: 1.3rem;
    font-weight: normal;
}

main h2 {
    text-align: center;
    font-size: 2rem;
}

main p {
    margin: 10px auto;
}

section {
    margin-top: 20px;
}

section h3 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 0px;
}

section h3 a {
    text-decoration: none;
}


section img {
    display: block;
    margin: 4px auto 8px auto;
    width: 290px;
    border: 1px solid grey;
    margin-bottom: 8px;
}

section p {
    font-size: 0.8rem;
    display: block;
    margin: 0px 20px;
    padding: 0px;
}

footer {
    margin: 25px auto;
    font-weight: bold;
}

footer p {
    margin: 0px;
    padding: 0px;
    text-align: center;
}


@media (min-width: 612px) {
    html {
        font-size: 16px;
    }

    body {
        background-color: #6B8280;
    }

    #container {
        width: 70%;
    }

    section img {
        width: 425px;
    }
}

@media (min-width: 840px) {

    #container {
        width: 50%;
    }
}